<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">

</head>
<body>


<div class="grid-container">
    <img id="visualOne" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562788775/HowToBrewWebsite/2a375677760f13526c0712b653bc5715_olkdyo.jpg">
    <div class="flex-item">
        <h1>HOW TO MAKE BEER</h1>
        <p>When you receive your Beer Making Kit: If you upgraded your recipe kit with a liquid yeast like a Wyeast Activator, refrigerate the yeast ASAP until you are ready to brew.</p>
        <h2>Before Brew Day</h2>
        <p>If you're using Wyeast, activate the Smack Pack the night before your brew day. To do this, place the pack on a hard surface and break the inner pouch with the palm of your hand. Wait 3-6 hours (room temperature) for the pouch to expand. At this point if you are making a Yeast Starter it should be prepared and the contents of the expanded yeast pack pitched into it. With White Labs or Wyeast Activators, you should warm the yeast to room temperature, 4-5 hours prior to brewing.</p>
        <h3>Brew Day</h3>
        <p>Start heating 2-5 gallons of water in your Brew Kettle. Place the specialty grains in the Muslin Bag, tie the open end in a knot and steep the grains for 20 minutes or until the water reaches 170 degrees (whichever comes first).
            Remove grain and allow liquid from the bag to drain into your kettle. Discard grains and bag, then bring your water to a boil.
            Once a boil is achieved, remove the kettle from the Propane Burner and add the Malt Extract while stirring. When the extract is added and dissolved, return the kettle to the burner and bring to a boil.
            Boil for one hour adding the Beer Hops as specified by the Beer Recipe instructions.
            Chill the wort using a using a Wort Chiller or an ice bath, then pour the wort (unfermented beer) into the sanitized Home Brew Fermenter. Top off with cool tap water to the 5.5-gallon mark on the side of the fermenter.
            Add the Beer Yeast.
            Seal up the fermenter, insert Airlock, and wait for the fermentation process to finish. (usually 10-14 days).
            Siphon the beer into the Bottling Bucket with the Priming Sugar solution in the bottom and fill a Beer Bottle. Repeat until all bottles are filled. Then seal using Beer Bottle Caps
            Patience is a virtue! Wait 3-4 weeks and sample.</p>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>